/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.home-top {
  background-image: url('../IMG/templatePNGS/top/homeTopBackground.png');
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 500px) {
  .home-top {
    width: 500px;
    height: auto;
    background-position: top;
  }
}
.phone1-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 3em;
}
@media (max-width: 500px) {
  .phone1-img {
    width: auto 0;
    display: flex;
    flex-direction: column-reverse;
    margin: 2em;
  }
}
.add-padding {
  padding-bottom: 2em;
}
@media (max-width: 500px) {
  .add-padding {
    height: 550px;
    text-align: center;
  }
}
.top-text1 {
  font-size: 3em;
}
@media (max-width: 500px) {
  .top-text1 {
    font-size: 2em;
    text-align: center;
  }
}
.top-text-middle {
  font-size: 5em;
  font-weight: bold;
}
@media (max-width: 500px) {
  .top-text-middle {
    font-size: 3.75em;
    display: flex;
    justify-content: center;
  }
}
.call-toAction {
  font-size: 3.5em;
  font-weight: bold;
  color: yellow;
}
@media (max-width: 500px) {
  .call-toAction {
    font-size: 3em;
    text-align: center;
  }
}
.top-text2 {
  font-size: 1.5em;
  margin-top: 0.5em;
}
@media (max-width: 500px) {
  .top-text2 {
    text-align: center;
  }
}
.store-bttns {
  display: flex;
  justify-content: flex-start;
  margin-top: 3em;
}
.store-bttns .store-bttns1 {
  margin-right: 4em;
}
@media (max-width: 500px) {
  .store-bttns .store-bttns1 {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
@media (max-width: 500px) {
  .store-bttns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
}
.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  .button1 {
    width: 300px;
  }
}
.button2:hover {
  box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
}
@media (max-width: 500px) {
  .button2:hover {
    width: 300px;
  }
}
.bottom-container {
  background-image: url('../IMG/templatePNGS/middle/Patterns.png');
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .bottom-container {
    width: 500px;
    height: auto;
    background-position: top;
  }
}
.middle-headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2em;
}
.middle-headers h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 0.5em;
}
.middle-headers h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.individual-icons {
  text-align: center;
}
.individual-icons h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.individual-icons p {
  font-style: italic;
}
@media (max-width: 500px) {
  .individual-icons {
    margin-bottom: 2.5em;
  }
}
.middle-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
@media (max-width: 500px) {
  .middle-icons {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
.bottom-portion {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 5.5em;
  margin-bottom: 4em;
}
@media (max-width: 500px) {
  .bottom-portion {
    display: flex;
    flex-direction: column;
    width: auto 0;
  }
}
@media (max-width: 500px) {
  .mobile-view {
    width: auto 0;
    display: flex;
    margin-left: 4.5em;
  }
}
@media (max-width: 500px) {
  .mobile1 {
    margin: auto 0;
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .mobile2 {
    margin: auto 0;
    width: 200px;
    height: 300px;
  }
}
.bottom-bullets {
  margin-top: 12em;
  margin-left: 2em;
}
@media (max-width: 500px) {
  .bottom-bullets {
    width: auto 0;
    display: flex;
    flex-direction: column;
    margin: 3.5em;
  }
}
.bottom-bullets ul,
.bottom-bullets li {
  list-style-image: url('../IMG/templatePNGS/Bottom/checked.png');
  font-size: 20px;
  padding: 10px;
}
@media (max-width: 500px) {
  .bottom-bullets ul,
  .bottom-bullets li {
    width: auto 0;
    margin: auto 0;
    font-size: 1.3em;
  }
}
/* Nav Bar Css */
.container {
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  padding-top: 5em;
}
a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  display: block;
  white-space: nowrap;
  padding: 10px 45px;
  position: relative;
}
a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}
a:hover:before,
a:hover:after {
  transform: scalex(1);
  background-color: yellow;
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}
/* End Nav Bar */
.footer-css {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: whitesmoke;
  color: black;
}
