.home-top {
    background-image: url('../IMG/templatePNGS/top/homeTopBackground.png');
    background-repeat: no-repeat;
    background-position: center;
}

.phone1-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 3em;
}

.top-text1 {
    font-size: 3em;    
}

.top-text-middle {
    font-size: 5em;
    font-weight: bold;
}

.top-text2 {
    font-size: 1.5em;
    margin-top: .5em;  
}

// Google & Apple Store Div
.store-bttns {
    display: flex;
    justify-content: flex-start;
    margin-top: 3em;
    .store-bttns1 {
        margin-right: 4em;
    }
}

// Google & Apple Store Buttons
.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
.button2:hover {
    box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
}
